asgiref==3.4.1
astroid==2.8.0
autopep8==1.5.7
black==21.8b0
click==8.0.1
colorama==0.4.4
Django==3.2.7
django-crispy-forms==1.12.0
django-debug-toolbar==3.2.2
django-js-asset==1.2.2
django-mptt==0.13.3
isort==5.9.3
lazy-object-proxy==1.6.0
mccabe==0.6.1
mypy-extensions==0.4.3
numpy==1.21.2
object-detection==0.1
pathspec==0.9.0
Pillow==8.3.2
platformdirs==2.3.0
pycodestyle==2.7.0
pylint==2.11.1
pylint-django==2.4.4
pylint-plugin-utils==0.6
pytz==2021.1
regex==2021.8.28
six==1.16.0
slim==0.1
sqlparse==0.4.1
toml==0.10.2
tomli==1.2.1
typing-extensions==3.10.0.2
wrapt==1.12.1
