.header-warn {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    padding-left: 1.475rem;
    padding-right: 1.475rem;
    background-color: #dc3545;
}

.header-succ {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    padding-left: 1.475rem;
    padding-right: 1.475rem;
    background-color: #198754;
}

.card {
    border: none;
}

.navigator-text {
    font-size: 1.5vw;
}

.subcategory-product-card:hover {
    box-shadow: 0 1px 9px 0 rgb(0 0 0 / 30%);
}

.basket-button:hover {
    box-shadow: inset 0 0px 5px 0 rgb(0 0 0 / 10%);
}