<div class="card">
  <div class="card-header text-center fs18 fw500">
    Price reductions
  </div>
  {% if sale_list %}
  <div class="card-body card-body-batch border-start border-end border-bottom">
    <div class="container-fluid ps-0 pe-0">
      <div id="myCarousel-batch" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators mb-1" data-pause="hover">
          {% for s in sale_qty %}
          <button type="button" data-bs-target="#myCarousel-batch" data-bs-slide-to="{{s}}"
            {% if s == 0 %} class="active" {% endif %} aria-label="Slide {{s}}"></button>
          {% endfor %}
        </div>
        <div class="carousel-inner">
          {% for s in sale_qty %}
          {% if s == 0 %}<div class="carousel-item active">{% else %}<div class="carousel-item">{% endif %}
            <div class="container">
              <div class="carousel-caption batch">
                <div class="d-flex flex-row justify-content-between">
                  {% for sale in sale_list|put_variable:s  %}
                  <div class="card">
                    {% if sale.available %}
                    <div class="card-header batch-header-succ">
                      <span class="text-white">Product available</span>
                    </div>
                    {% else %}
                    <div class="card-header batch-header-warn">
                      <span class="text-white">Product unavailable</span>
                    </div>
                    {% endif %}
                    <div class="card-body border-start border-end">
                      <div class="d-flex flex-column">
                        <div class="d-flex flex-row">
                        {% for i in images %}
                          {% if i.product.pk == sale.pk %}
                            <img src="{{i.image.url}}" width="100" height="100" class=""
                              alt="No data" />
                          {% endif %}
                        {% endfor %}
                          <div class="card text-center ms-auto align-self-start">
                            <div class="card-header price-header">
                              <span class="text-white fs10">-{{percentage_sale|put_variable:sale}}%</span>
                            </div>
                            <div class="
                                card-body
                                align-items-center
                                price-body
                                border-start border-end border-bottom
                                rounded-bottom
                              ">
                              <div class="d-flex flex-column">
                                <span class="text-muted text-decoration-line-through fs10">{{sale.price.regular}}$</span>
                                <span class="fs12">{{sale.price.in_sale_price}}$</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="border-start border-end border-top">
                      {% if sale.available %}
                      <span class="fs10">{{sale.name}}</span>
                      {% else %}
                      <span class="fs10 text-muted">{{sale.name}}</span>
                      {% endif %}
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        {% if sale_len > 1 %}
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel-batch"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel-batch"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        {% endif %}
      </div>
    </div>
  </div>
  {% else %}
  <div class="card-body border-start border-end border-bottom d-flex justify-content-center">
		<span class="fs18 fw500 pt-5 pb-5">No Product available</span>
	</div
  {% endif %}
</div>






