<div class="d-flex flex-row justify-content-between">
	<div class="card">
		<div class="card-header batch-header-warn">
			<span class="text-white">Product unavailable</span>
		</div>
		<div class="card-body">
			<div class="d-flex flex-column">
				<div class="d-flex flex-row">
					<img src="http://127.0.0.1:8000/media/electronic_elements/diode_batch.jpg" width="100" height="100" class="" alt="No data">
					<div class="card text-center ms-auto align-self-center">
						<div class="card-header price-header">
							<span class="text-white fs12">-75%</span>	
						</div>
						<div class="card-body align-items-center price-body">
						    <div class="d-flex flex-column">
						    	<span class="text-muted text-decoration-line-through fs10">2.99$</span>
						    	<span class="fs12">2.1$</span>
						    </div>
						</div>
					</div>
				</div>
				<div class="progress mt-2">
				</div>
			</div>
		</div>
		<div class="card-footer batch-footer-warn">
			footer
		</div>
	</div>
	<div class="card">
		<div class="card-header batch-header-succ">
			<span class="text-white">Product available</span>
		</div>
		<div class="card-body">
			body
		</div>
		<div class="card-footer">
			footer
		</div>
	</div>
</div>