<div id="myCarousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
    {% if user.is_superuser %}
    <div class="d-flex flex-row justify-content-center pb-4" style="background-color: #f5f5f5";>
        <h1 class="mt-3 text-center">Categories</h1>
        <a href="admin/offert/category/add/">
        <button type="button" class="mt-3 ms-3 mb-2 btn btn-primary">
            <div class="d-flex flex-row align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#ffffff">
                <path d="M0 0h24v24H0V0z" fill="none"/>
                <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM5.92 19H5v-.92l9.06-9.06.92.92L5.92 19zM20.71 5.63l-2.34-2.34c-.2-.2-.45-.29-.71-.29s-.51.1-.7.29l-1.83 1.83 3.75 3.75 1.83-1.83c.39-.39.39-1.02 0-1.41z"/>
                </svg>
                <span class="ms-1">Create a new category</span>
            </div>
        </button>
        </a>
    </div>
    {% endif %}
    <div class="carousel-indicators">
    {% for c in carousel_qty %}
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="{{c}}" {% if c == 0 %} class="active" {% endif %}
            aria-label="Slide {{c}}"></button>
    {% endfor %}
    </div>
    <div class="carousel-inner">
        {% for c in carousel_qty %}
        {% if c == 0 %}<div class="carousel-item active main">{% else %}<div class="carousel-item main">{% endif %}
            <div class="container">
                <div class="carousel-caption main">
                    <div class="d-flex flex-row flex-wrap justify-content-between">
                        {% for category in category_list|get_position_upper:c %}
                            <div class="d-fled flex-row">
                                    <div class="position-reletive">
                                    <img src="{{category.photo.url}}" width="100" height="100"
                                        class="round-border" alt="No data">
                                    {% if user.is_superuser %}
                                    <button type="button" class="ms-1 position-absolute btn btn-warning" id="update-category-{{category.pk}}">
                                        <div class="d-flex flex-row align-items-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="22px" viewBox="0 0 24 24" width="22px" 
                                            fill="#000000"><g><rect fill="none" height="24" width="24"/></g><g><g>
                                            <path d="M11,8v5l4.25,2.52l0.77-1.28l-3.52-2.09V8H11z M21,10V3l-2.64,2.64C16.74,4.01,14.49,3,12,3c-4.97,0-9,4.03-9,9 s4.03,9,9,9s9-4.03,9-9h-2c0,3.86-3.14,7-7,7s-7-3.14-7-7s3.14-7,7-7c1.93,0,3.68,0.79,4.95,2.05L14,10H21z"/></g></g>
                                            </svg>
                                            <span class="ms-1">Update</span>
                                        </div>
                                    </div>
                                    </button>
                                    {% endif %}
                                    </span>
                                <div>
                                    <span class="fs18 fw500">{{category.name}}</span>
                                </div>
                                <div class="pt-2">
                                    <button type="button" class="btn btn-secondary btn-sm">
                                        {% if descendent_count|put_variable:category != 0 %}
                                        <a href="{% url 'offert:subcategory' category.slug %}" class="my-link link-light">View more</a>
                                        {% else %}
                                        <a href="{% url 'offert:products' category.slug %}" class="my-link link-light">View more</a>
                                        {% endif %}
                                    </button>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="d-flex flex-row flex-wrap pt-5 justify-content-between">
                        {% for category in category_list|get_position_bottom:c %}
                            <div class="d-fled flex-row">
                                <div class="position-relative">  
                                        <img src="{{category.photo.url}}" width="100" height="100"class="round-border" alt="No data">
                                        {% if user.is_superuser %}
                                        <button type="button" class="ms-1 position-absolute top-0 btn btn-warning" id="update-category-{{category.pk}}">
                                            <div class="d-flex flex-row align-items-center">
                                                <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="22px" viewBox="0 0 24 24" width="22px" 
                                                fill="#000000"><g><rect fill="none" height="24" width="24"/></g><g><g>
                                                <path d="M11,8v5l4.25,2.52l0.77-1.28l-3.52-2.09V8H11z M21,10V3l-2.64,2.64C16.74,4.01,14.49,3,12,3c-4.97,0-9,4.03-9,9 s4.03,9,9,9s9-4.03,9-9h-2c0,3.86-3.14,7-7,7s-7-3.14-7-7s3.14-7,7-7c1.93,0,3.68,0.79,4.95,2.05L14,10H21z"/></g></g>
                                                </svg>
                                                <span class="ms-1">Update</span>
                                            </div>
                                        </button>
                                    </div>
                                    {% endif %}
                                <div>
                                    <span class="fs18 fw500">{{category.name}}</span>
                                </div>
                                <div class="pt-2">
                                    <button type="button" class="btn btn-secondary btn-sm">
                                        {% if descendent_count|put_variable:category != 0 %}
                                        <a href="{% url 'offert:subcategory' category.slug %}" class="my-link link-light">View more</a>
                                        {% else %}
                                        <a href="{% url 'offert:products' category.slug %}" class="my-link link-light">View more</a>
                                        {% endif %}
                                    </button>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if category_list|length > 2 %}
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    {% endif %}
</div>