<div class="d-flex flex-row flex-wrap">	
	<div class="d-fled flex-row">
		<img src="http://127.0.0.1:8000/media/electronic_elements/capacitor.jpg" width="100" height="100" class="round-border" alt="No data">
		<div>
			<span class="fs18 fw500">Capacitors</span>
		</div>
		<div class="pt-2">
			<button type="button" class="btn btn-secondary btn-sm">View more »</button>
		</div>
	</div>
	<div class="d-fled flex-row ms-auto">
		<img src="http://127.0.0.1:8000/media/electronic_elements/resistor.jpg" width="100" height="100" class="round-border" alt="No data">
		<div>
			<span class="fs18 fw500">Resistors</span>
		</div>
		<div class="pt-2">
			<button type="button" class="btn btn-secondary btn-sm">View more »</button>
		</div>
	</div>
	<div class="d-fled flex-row ms-auto">
		<img src="http://127.0.0.1:8000/media/electronic_elements/diodes.jpg" width="100" height="100" class="round-border" alt="No data">
		<div>
			<span class="fs18 fw500">Diodes</span>
		</div>
		<div class="pt-2">
			<button type="button" class="btn btn-secondary btn-sm">View more »</button>
		</div>
	</div>
</div>


<div class="d-flex flex-row flex-wrap pt-5">	
	<div class="d-fled flex-row">
		<img src="http://127.0.0.1:8000/media/electronic_elements/transistor.jpg" width="100" height="100" class="round-border" alt="No data">
		<div>
			<span class="fs18 fw500">Transistors</span>
		</div>
		<div class="pt-2">
			<button type="button" class="btn btn-secondary btn-sm">View more »</button>
		</div>
	</div>
	<div class="d-fled flex-row ms-auto">
		<img src="http://127.0.0.1:8000/media/electronic_elements/coil.jpg" width="100" height="100" class="round-border" alt="No data">
		<div>
			<span class="fs18 fw500">Coils</span>
		</div>
		<div class="pt-2">
			<button type="button" class="btn btn-secondary btn-sm">View more »</button>
		</div>
	</div>
	<div class="d-fled flex-row ms-auto">
		<img src="http://127.0.0.1:8000/media/electronic_elements/radiator.jpg" width="100" height="100" class="round-border" alt="No data">
		<div>
			<span class="fs18 fw500">Radiators</span>
		</div>
		<div class="pt-2">
			<button type="button" class="btn btn-secondary btn-sm">View more »</button>
		</div>
	</div>
</div>
