{% extends "base.html" %}
{% load static %}
{% load custom_template_tags %}
{% block title %}{{product.name}}{% endblock %}
{% block stylesheet %}{% static "offert/css/offert_products_indyvidual.css" %}{% endblock %}
{% block javascript %}{% static "offert/js/offert.js" %}{% endblock %}
{% block content %}
<div class="container pt-5">
    <div class="d-flex flex-row align-items-center">
        <div class="d-flex flex-row align-items-center">
        {% for an in ancestors %}
            {% if an == ancestors|last %}
                <a href="{% url 'offert:products' an.slug %}" class="text-decoration-none text-dark navigator-text fw-bold">{{an.name}}</a>
            {% else %}
                <a href="{% url 'offert:subcategory' an.slug %}" class="text-decoration-none text-dark navigator-text fw-bold">{{an.name}}</a>
            {% endif %}
            {% if an != ancestors|last %}
                <svg xmlns="http://www.w3.org/2000/svg" class="ms-2 me-2" width="30" height="30" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                </svg>
            {% endif %}
        {% endfor %}
        </div>
    </div>
    <hr class="ms-0 me-0 mt-3 mb-3">
    <div class="row">
        <div class="col-12 col-xs-12 col-sm-12 col-md-6 mb-3">
            <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    {% for i in images_len %}
                        <button type="button" data-bs-target="#myCarousel-batch" data-bs-slide-to="{{i}}"
                        {% if i == 0 %} class="active" {% endif %} aria-label="Slide {{i}}"></button>
                    {% endfor %}
                </div>
                <div class="carousel-inner">
                {% for i in images %}
                    {% if i == images|first %}
                        <div class="carousel-item active">
                    {% else %}
                        <div class="carousel-item">
                    {% endif %}
                        <div class="d-flex justify-content-center">
                            <img src="{{i.image.url}}"  width="500px" height="500px" class="carousel-img" alt="">
                        </div>
                    </div>
                {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <div class="container mt-5">
                <div id="liveAlertPlaceholder"></div>
                <span class="fs-3 fw-bold">{{product.name}}</span>
                <div class="d-flex flex-row mt-3">
                    {% for s in stars %}
                    <div {% if s != images_len|first %}class="ms-2"{% endif %}>
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                    </div>
                    {% endfor %}
                    {% if half_star %}
                        <div {% if stars|length == 0 %}{% else %}class="ms-2"{% endif %}>
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-star-half" viewBox="0 0 16 16">
                                <path d="M5.354 5.119 7.538.792A.516.516 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.537.537 0 0 1 16 6.32a.548.548 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.52.52 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.58.58 0 0 1 .085-.302.513.513 0 0 1 .37-.245l4.898-.696zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.565.565 0 0 1 .162-.505l2.907-2.77-4.052-.576a.525.525 0 0 1-.393-.288L8.001 2.223 8 2.226v9.8z"/>
                            </svg>
                        </div>
                    {% endif %}
                    {% for e in empty_stars %}
                        <div {% if stars|length == 0 and half_star == False and e == 0 %}{% else %}class="ms-2"{% endif %}>
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                            </svg>
                        </div>
                    {% endfor %}
                    <span class="fs-5 ms-2 text-muted">
                        ({{product_rate|length}}{% if product_rate|length == 1 %} Opinion{% else %} Opinions{% endif %})</span>
                </div>
                <div class="card mt-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <span class="ms-3 fs-2 fw-bold">{{product.price.regular}}$</span>
                            </div>
                            <div class="col-6">
                                <div class="d-flex flex-column">
                                    <div>
                                        <div class="d-flex flex-row align-items-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-shop" viewBox="0 0 16 16">
                                                <path d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h1v-5a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v5h6V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zM4 15h3v-5H4v5zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3zm3 0h-2v3h2v-3z"/>
                                            </svg>
                                            <span class="ms-2">Quantity in store: {{product.quantity}}</span>
                                        </div>
                                    </div>
                                        <div class="d-flex flex-row mt-3 align-items-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-truck" viewBox="0 0 16 16">
                                            <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                                            </svg>
                                            <span class="ms-2">Fast shipping</span>  
                                        </div>
                                    <div>
                                        <div class="d-flex flex-row mt-3 align-items-center">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-currency-exchange" viewBox="0 0 16 16">
                                            <path d="M0 5a5.002 5.002 0 0 0 4.027 4.905 6.46 6.46 0 0 1 .544-2.073C3.695 7.536 3.132 6.864 3 5.91h-.5v-.426h.466V5.05c0-.046 0-.093.004-.135H2.5v-.427h.511C3.236 3.24 4.213 2.5 5.681 2.5c.316 0 .59.031.819.085v.733a3.46 3.46 0 0 0-.815-.082c-.919 0-1.538.466-1.734 1.252h1.917v.427h-1.98c-.003.046-.003.097-.003.147v.422h1.983v.427H3.93c.118.602.468 1.03 1.005 1.229a6.5 6.5 0 0 1 4.97-3.113A5.002 5.002 0 0 0 0 5zm16 5.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0zm-7.75 1.322c.069.835.746 1.485 1.964 1.562V14h.54v-.62c1.259-.086 1.996-.74 1.996-1.69 0-.865-.563-1.31-1.57-1.54l-.426-.1V8.374c.54.06.884.347.966.745h.948c-.07-.804-.779-1.433-1.914-1.502V7h-.54v.629c-1.076.103-1.808.732-1.808 1.622 0 .787.544 1.288 1.45 1.493l.358.085v1.78c-.554-.08-.92-.376-1.003-.787H8.25zm1.96-1.895c-.532-.12-.82-.364-.82-.732 0-.41.311-.719.824-.809v1.54h-.005zm.622 1.044c.645.145.943.38.943.796 0 .474-.37.8-1.02.86v-1.674l.077.018z"/>
                                            </svg>
                                            <span class="ms-2">Multi currency</span>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-6">
                                <select class="ms-3 custom-select custom-select-lg mb-3 fs-5 p-2">
                                    <option selected value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </div>
                            <div class="col-6">
                                <button type="button" class="d-block w-100 btn btn-success" id="add-product" value="{{product.id}}">
                                    <div class="d-flex flex-row justify-content-center align-items-center">
                                       <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                        </svg>
                                        <span class=" ms-2 text-light fs-4" id="add-to-basket">Add to basket</span>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="mt-5">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link text-dark active" id="nav-des-tab" data-bs-toggle="tab" data-bs-target="#nav-des" type="button" role="tab" aria-controls="nav-home" aria-selected="true">
            Description
        </button>
        <button class="nav-link text-dark" id="nav-spec-tab" data-bs-toggle="tab" data-bs-target="#nav-spec" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">
            Specification
        </button>
        <button class="nav-link text-dark" id="nav-ship-tab" data-bs-toggle="tab" data-bs-target="#nav-ship" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">
            Shipping
        </button>
        <button class="nav-link text-dark" id="nav-opin-tab" data-bs-toggle="tab" data-bs-target="#nav-opin" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">
            Opinions
        </button>
    </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade mt-3 ms-3 show active" id="nav-des" role="tabpanel" aria-labelledby="nav-des-tab">
            <span class="fs-4">{{product.description}}</span>
        </div>
        <div class="tab-pane fade mt-3" id="nav-spec" role="tabpanel" aria-labelledby="nav-spec-tab">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Speficication</th>
                        <th scope="col">Value</th>
                        <th scope="col">Unit</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in product_features %}
                    <tr>
                        <th scope="row">{{feature_len|put_variable:p.name}}</th>
                        <td>{{p.name}}</td>
                        <td>{{feature_value_dict|put_variable:p.name}}</td>
                        <td>...</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade mt-3 ms-3" id="nav-ship" role="tabpanel" aria-labelledby="nav-ship-tab">
            <span class="fs-4">Standard shipping only</span>
        </div>
        <div class="tab-pane fade" id="nav-opin" role="tabpanel" aria-labelledby="nav-opin-tab">
            <table class="table table-striped mt-3">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Username</th>
                        <th scope="col">Opinion value</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in product_rate %}
                    <tr>
                        <th scope="row">{{product_rate_len|put_variable:p.pk}}</th>
                        <td>{{p.user.username}}</td>
                        <td>{{p.value}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
$(document).on('click','#add-product', function(e){
    e.preventDefault()
    var qty = parseInt($('.custom-select option:selected').val())
    var product_id = $(this).val()
    var alertPlaceholder = document.getElementById('liveAlertPlaceholder')
    var alertTrigger = document.getElementById('add-to-basket')

    function alert(message, type) {
    var wrapper = document.createElement('div')
    wrapper.innerHTML = '<div class="alert alert-' + type + ' alert-dismissible" role="alert">' +
        message + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>'

    alertPlaceholder.append(wrapper)
    }


  var url = "{% url "session:add" %}"
  $.ajax({
    type:'POST',
    url:'{% url "session:add" %}',
    data: {
      qty: qty,
      product_id : product_id,
      csrfmiddlewaretoken: "{{csrf_token}}",
      action: 'post'
      },
    success: function (json){
        document.getElementById("total-items").innerHTML = json.basket_qty;
        alert('You successfully added ' + json.qty + ' items to basket!', 'success')
    },
    error: function (err){
    }
  });
})
</script>
{% endblock %}