{% extends "base.html" %}
{% load static %}
{% block title %}{{product.name}}{% endblock %}
{% block stylesheet %}{% static "offert/css/offert_products_indyvidual.css" %}{% endblock %}
{% block content %}
<div class="container pt-5">
    <div class="d-flex flex-row align-items-center">
        <div class="d-flex flex-row align-items-center">
        {% for an in ancestors %}
            {% if an == ancestors|last %}
                <a href="{% url 'offert:products' an.slug %}" class="text-decoration-none text-dark navigator-text fw-bold">{{an.name}}</a>
            {% else %}
                <a href="{% url 'offert:subcategory' an.slug %}" class="text-decoration-none text-dark navigator-text fw-bold">{{an.name}}</a>
            {% endif %}
            {% if an != ancestors|last %}
                <svg xmlns="http://www.w3.org/2000/svg" class="ms-2 me-2" width="30" height="30" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                </svg>
            {% endif %}
        {% endfor %}
        </div>
    </div>
    <hr class="ms-0 me-0 mt-3 mb-3">
    <div class="row">
        <div class="col-12 col-xs-12 col-sm-12 col-md-6">
            <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    {% for i in images_len %}
                        <button type="button" data-bs-target="#myCarousel-batch" data-bs-slide-to="{{i}}"
                        {% if i == 0 %} class="active" {% endif %} aria-label="Slide {{i}}"></button>
                    {% endfor %}
                </div>
                <div class="carousel-inner">
                {% for i in images %}
                    {% if i == images|first %}
                        <div class="carousel-item active">
                    {% else %}
                        <div class="carousel-item">
                    {% endif %}
                        <div class="d-flex justify-content-center">
                            <img src="{{i.image.url}}"  width="500px" height="500px" class="carousel-img" alt="">
                        </div>
                    </div>
                {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <span>col 2</span>
        </div>
    </div>
</div>
{% endblock %}