{% extends "base.html" %}
{% load static %}
{% block title %}{{title}}{% endblock %}
{% block stylesheet %}{% static "offert/css/offert_subcategory.css" %}{% endblock %}
{% block content %}
<div class="container">
    <h2 class="pt-3">.....
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
    </svg>
     .....</h2>
    <hr>
    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="d-flex flex-wrap">
        {% for cat in category %}
        <a href="{% url 'offert:subcategory' cat.slug %}" class="text-decoration-none">
            <div class="card sub-category-card subcategory m-2">
                <img src="{{cat.photo.url}}" width="200px" height="200px" alt="">
                <div class="card-body">
                    <h6 class="card-text text-center link-dark">{{cat.name}}</h6>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock content %}